*.iml
.gradle
gradle*
.DS_Store
/local.properties
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/app/build
/app/release
/projectFilesBackup
